body{
    font-family: sans-serif;
}

/* 모달을 감싸는 부분, 뒷배경 */
.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* 모달 박스 */
 .modal {
    background: white;
    padding: 24px 16px;
    border-radius: 4px;
    width: 400px;
    height: 100px;
  }

  /* 모달 안에 들어가는 내용들 */
  .modal-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .modal p {
    font-size: 16px;
  }
  
  .close {
    text-align: right;
  }
